*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER 1 */
.header-1{
    height: 35px;
    background-color: black;
}

.sony{
    height: 20px;
}
/* FINE HEADER 1 */

/* HEADER 2 */
.bg_color{
    background-color: #2c3e50;
}

.accedi-bg{
    background-color: #31373d;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.fa-magnifying-glass{
    font-size: 30px;
    vertical-align: middle;
}

/* FINE HEADER 2 */

/* INIZIO BLOCCO(1) RETURNAL */

.jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    max-width: 100%;
}

.returnal-logo{
    margin-top: 25%;
    width: 20%;
}

.ghiaccio{
    color: white;
    width: 30%;
}

.ghiaccio-p{
    position: relative;
    color: rgb(255, 255, 255);
    margin-top: 2%;
}

.grandezza{
    height: 100%;
}

.btn-danger{
    position: relative;
    border-radius: 30px !important;
}

.sec-height{
    height: 700px;
}
/* FINE BLOCCO(1) RETURNAL */

/* INIZIO BLOCCO IMMAGINI */

.img_size{
    height: 2%;
    border-radius: 15px;
}
/* FINE BLOCCO IMMAGINI */

/* SECTION ECCOL LA PLAYSTATION 5 */

#text1{
    color: rgb(80, 106, 255);
    font-size: 10px;
    margin-bottom: -5px;
    margin-top: 2%;
}

#text2{
    font-size: 25px;
    font-weight: 520;
    color: #2c3e50;
}

#text3{
    color: grey;
    font-weight: 600;
}

/*FINE SECTION ECCOL LA PLAYSTATION 5 */

/*INIZIO SECTION CONSOLE */

.play-img{
    width: 60%;
    height: auto;
    margin-left: 50%;
}

.ps5-text{
    font-size: 250%;
    margin-top: 20%;
    font-weight: 600;
    text-align: left;
}

.ps5-text2{
    color: gray;
    font-weight: 600;
    text-align: left;
}

.btn-primary{
    border-radius: 20px !important;
}

.component{
    opacity: 0.5;
}

.component:hover{
    opacity: 1;
    cursor: pointer;
    border-bottom: 2px solid rgb(0, 81, 255);
}
/* FINE SECTION CONSOLE */

/*INIZIO SECTION IT TAKES TWO */
.ittakes{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.ittakes-logo{
    margin-top: 10%;
    width: 20%;
}


.position-nuove-uscite{
    text-align: left;
}

/* FINE SECTION IT TAKES TWO */